<%= simple_form_for([:admin, @product]) do |f| %>
  <%= f.input :name, label: "Nome", input_html: { class: "form-control" } %>
  <div class="row">
    <div class="col-md-4">
      <%= f.input :price, label: "Preço", input_html: { class: "form-control" } %>
    </div>
    <div class="col-md-4">
      <%= f.input :quantity, label: "Quantidade", input_html: { class: "form-control" } %>
    </div>
    <div class="col-md-4">
      <%= f.association :category, label: "Categoria" %>
    </div>
    <div class="col-md-4">
      <%= f.association :user, label: "Dono do anúncio" %>
    </div>
    <div class="col-md-2">
      <%= f.input :sold, label: "Vendido" %>
    </div>
  </div>
  <%= f.input :description, label: "Descrição", input_html: { class: "form-control ckeditor" } %>
  <br/>
  <%= f.button :submit, "Salvar", class: "btn btn-success btn-sm" %>
  <%= link_to "Cancelar", admin_products_path, class: "text-danger" %>
<% end %>
