<!DOCTYPE html>
<html ng-app="clientModule" ng-cloak>
<head>
  <title>Sebbo</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/navigation' %>
<div class="container">
  <div class="col-md-12">
    <% if flash[:notice] -%>
      <div class="alert alert-info" role="alert">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= yield %>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<%= javascript_include_tag 'application' %>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'sebboecommerce';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>
</body>
</html>
